html {
    font-size: 10px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F3EC;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    color: #261717;
}
a {
    text-decoration: underline;
}

/* Layout */
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-repeat: no-repeat;
    background-image: url(/ressources/images/bottom.png), url(/ressources/images/top.png);
    background-size: 85%;
    background-position: center bottom, center top;
}
header, footer {
    flex-shrink: 0;
    text-align: center;
}
.content {
    max-width: 65rem;
    padding: 18vw 2rem;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
}
.section {
    margin: 3rem 0 4rem;
}
    .section:last-child {
        margin-bottom: 0;
    }

.floating-bg {
    max-width: 100%;
    max-height: 19rem;
}

/* Module */

/*   Text */
h1 {
    font-family: 'alexbrushregular', 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: #DF9393;
    text-align: center;
    margin-top: 0;
}

.subtitle {
    font-size: 1.3rem;
    color: #4D2A2A;
    margin-bottom: 1rem;
}

.sentence {
    font-size: 2.2rem;
    color: #261717;
    font-family: 'robotomedium', Arial, Helvetica, sans-serif;
}

/*  Container */
.paper {
    max-width: 100%;
    -webkit-box-shadow: 0 0.4rem 0.4rem 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0.4rem 0.4rem 0 rgba(0,0,0,0.25);
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0,0,0,0.25);
}
    .paper.withpadding {
        padding: 2rem;
        background-color: white
    }

.cosel {
    max-width: 200px;
}

.cute-list {
    list-style: none;
    counter-reset: list-counter;
    padding: 0;
}
    .cute-list .li-text {
        display: inline-block;
        margin-bottom: 1rem;
    }
    .cute-list li {
        counter-increment: list-counter;
        position: relative;
        margin-bottom: 1rem;
        margin-left: 1.7rem;
        font-size: 1.5rem;
    }
        .cute-list li::before {
            content: counter(list-counter) ".";
            color: #DF9393;
            position: absolute;
            left: -17px;
            text-align: right;
            font-weight: bold;
        }

/* Status */
.is-mobile-only { 
    display: block;
}
.is-desktop-only {
    display: none;
}

@media (min-width: 480px) {
    /* Layout */
    main {
        background-size: 475px;
    }
    .section {
        margin: 4rem 0 6rem;
    }
    .content {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    /* Module */

    /*   Text */
    h1 {
        font-size: 6rem;
    }

    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .sentence {
        font-size: 3.3rem;
    }

    .cute-list {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    /* Status */
    .is-mobile-only {
        display: none;
    }

    .is-desktop-only {
        display: block;
    }
}

@media (min-width: 762px) {
    /* Layout */
    main {
        background-size: 700px;
    }
    .section {
        margin: 5rem 0 10rem;
    }
    .content {
        padding-top: 130px;
        padding-bottom: 190px;
    }

    /* Module */

    /*   Text */
    h1 {
        font-size: 8rem;
    }
    .subtitle {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .sentence {
        font-size: 4.4rem;
    }
    .cute-list {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    /* Status */
    .is-mobile-only {
        display: none;
    }

    .is-desktop-only {
        display: block;
    }
}

@media (min-width: 1200px) {
    /* Layout */
    main {
        margin: 0;
        background-repeat: no-repeat;
        background-image: url(/ressources/images/right.png), url(/ressources/images/bottom.png), url(/ressources/images/left.png), url(/ressources/images/top.png);
        background-size: 23vw, 700px;
        background-position: right 60%, center bottom, left 15%, center top;
    }
}
@media (min-width: 1550px) {
    /* Layout */
    main {
        background-size: 400px, 800px;
    }
    .content {
        padding-top: 150px;
        padding-bottom: 230px;
    }
}