
@{
    ViewBag.Title = "Index";
}

<br />
<br />
@Html.ActionLink("New Game", "NewGame")
<br />
<br />
<br />
@Html.ActionLink("Reset Game", "ResetGame")
<br />
<br />
<br />
<form method="POST">
    <label for="link">Url de la nouvelle partie</label>
    <br />
    <input type="text" name="link" />
    <input type="submit" />
</form>

