
@{
    ViewBag.Title = "Index";
}

<h2>Admin Panel</h2>

@Html.ActionLink("New Game", "NewGame")
@Html.ActionLink("Reset Game", "ResetGame")

<form method="POST">
    <label for="link">Your link name</label>
    <input type="text" name="link" placeholder="Your link goes here" />
    <input type="submit" />
</form>

